* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-container {
  display: flex;
}

.left-bg-with-logo {
  background-color: #090727;
  width: auto;
  height: 100vh;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-part-with-form {
  background: linear-gradient(90deg, #090727 0%, rgba(0, 0, 0, 0) 150%);
  width: auto;
  height: 100vh;
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1), transparent 90%);
  -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1), transparent 90%);
}

.sign-in-form {
  background-color: whitesmoke;
  opacity: 0.9;
  flex-shrink: 0;
  width: clamp(30vw, 40vw, 60vw);
  height: 70%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div h1 {
  margin: 10px;
  text-align: center;
  font-size: 30px;
  align-self: top;
  color: #090727;
}

.form-itself button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #090727;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-itself label {
  color: #090727;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  padding: 5px;
  transition: all 0.3s ease
}

.form-itself input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #090727;
  font-size: 20px;
  margin: 10px 0;
  padding: 5px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-itself button:hover {
  background-color: #090727;
  color: white;
  transform: scale(1.1);
}

input:invalid {
  border-bottom: 2px solid red;
  color: red;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}