* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden; /* Предотвращаем появление скролла */
}

.main-container {
  display: flex;
  height: 100vh;
}

.left-bg-with-logo {
  background-color: #090727;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Для псевдоэлемента */
}

.app-name {
  flex: 1, 1, 0;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  opacity: 0.7;
  text-shadow: 0 0 25px rgba(255, 255, 255, 0.5)
}

/* Усиленное размытие логотипа */
.left-bg-with-logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at center, 
    rgba(9, 7, 39, 0.8) 0%, 
    rgba(9, 7, 39, 0.5) 40%, 
    rgba(9, 7, 39, 0.2) 70%, 
    transparent 100%
  );
  z-index: 1;
}

.logo-container {
  position: relative;
  z-index: 2; /* Помещаем лого над эффектом размытия */
}

img {
  max-width: 80%;
  height: auto;
  ma: radial-gradient(circle at center, sk-imager rgba(0, 0, 0, 1) 50%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 10%, transparent 100%);
  border-radius: 50%;
  border: 2px solid whitesmoke;
}

.right-part-with-form {
  background: linear-gradient(90deg, #090727 0%, rgba(0, 0, 0, 0) 150%);
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-form {
  background-color: rgba(245, 245, 245, 0.95);
  width: 550px;
  padding: 40px 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  color: #090727;
  margin-bottom: 10px;
}

.form-itself {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-itself label {
  font-size: 1.2rem;
  color: #090727;
  font-weight: 500;
}

.form-itself input {
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 2px solid #090727;
  padding: 0 10px;
  font-size: 1.1rem;
  background: transparent;
  transition: border-color 0.3s;
}

.form-itself input:focus {
  border-color: #4a40b3;
  outline: none;
}

.form-itself button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #090727;
  color: white;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.form-itself button:hover {
  background-color: #1a165f;
  transform: scale(1.03);
}
